@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Lato:wght@300;400;700;900&family=Poppins:wght@200;300;400;500;600;700&display=swap");

:root {
  --bg-black-900: #f2f2fc;
  --bg-black-100: #fdf9ff;
  --bg-black-50: #e8dfec;
  --text-black-900: #302e4d;
  --text-black-700: #504e70;
}

canvas {
  position: fixed;
  top: auto;
  left: auto;
  background-color: black;
  z-index: 2;
  background-size: cover;
  background-blend-mode: multiply;
  background-size: auto;
  scroll-behavior: smooth;
}

/* Global CSS Start */
* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  z-index: 10;
  background: transparent;
}

body.dark {
  --bg-black-900: #000000;
  --bg-black-100: #222222;
  --bg-black-50: #393939;
  --text-black-900: #ffffff;
  --text-black-700: #e9e9e9;
}

::before,
::after {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.section {
  background: transparent;
  min-height: 100vh;
  display: block;
  padding: 0 30px;
  opacity: 1;
  position: fixed;
  left: 230px;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-x: auto;
  overflow-y: auto;
  transition: all 0.3s ease;
}

.section.back-section {
  z-index: 1;
}

.section.active {
  z-index: 2;
  opacity: 1;
  animation: slideSection 1s ease;
}

@keyframes slideSection {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

.hidden {
  display: none !important;
}

.padd-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.container {
  max-width: 1100px;
  width: 100%;
  margin: auto;
}

.section .container {
  padding-top: 60px;
  padding-bottom: 70px;
}

.section-title {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 60px;
}

.section-title h2 {
  font-size: 40px;
  color: var(--text-black-900);
  font-weight: 700;
  position: relative;
}

.section-title h2::before {
  content: "";
  height: 4px;
  width: 50px;
  background: var(--skin-color);
  position: absolute;
  left: 0;
  top: 100%;
}

.section-title h2::after {
  content: "";
  height: 4px;
  width: 25px;
  background: var(--skin-color);
  position: absolute;
  left: 0;
  top: 100%;
  margin-top: 8px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
}

.btn {
  font-size: 16px;
  font-weight: 500;
  padding: 12px 35px;
  color: white;
  border-radius: 40px;
  display: inline-block;
  white-space: nowrap;
  border: none;
  background: var(--skin-color);
  transition: all 0.3s ease;
}

.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 5px red, 0 0 25px red, 0 0 50px red, 0 0 100px red,
    0 0 200px red;
}

.shadow-dark {
  box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

/* Global CSS End */

/* Aside Start */
.aside {
  width: 230px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  padding: 30px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  background-color: #000000ef;
  border-right: 2px solid red;
  border-top-right-radius: 50px;
}

.aside .logo {
  position: absolute;
  top: 50px;
  font-size: 30px;
  text-transform: capitalize;
  text-shadow: 5px 4px 10px red;
}

.aside .logo a {
  color: var(--text-black-700);
  font-weight: 700;
  padding: 15px 20px;
  font-size: 30px;
  letter-spacing: 5px;
  position: relative;
}

.aside .logo a span {
  font-family: "Clicker Script", cursive;
  font-size: 40px;
}

.aside .nav-toggler {
  height: 40px;
  width: 45px;
  border: 1px solid var(--bg-black-50);
  cursor: pointer;
  position: fixed;
  left: 300px;
  top: 20px;
  border-radius: 5px;
  background: var(--bg-black-100);
  display: none;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.aside .nav-toggler span {
  height: 2px;
  width: 18px;
  background: var(--skin-color);
  display: inline-block;
  position: relative;
}

.aside .nav-toggler.open span {
  background-color: transparent;
}

.aside .nav-toggler span::before {
  content: "";
  height: 2px;
  width: 18px;
  background: var(--skin-color);
  position: absolute;
  top: -6px;
  left: 0;
}

.aside .nav-toggler.open span::before {
  transform: rotate(45deg);
  top: 0;
}

.aside .nav-toggler span::after {
  content: "";
  height: 2px;
  width: 18px;
  background: var(--skin-color);
  position: absolute;
  top: 6px;
  left: 0;
}

.aside .nav-toggler.open span::after {
  transform: rotate(-45deg);
  top: 0;
}

.aside .nav {
  margin-top: 50px;
}

.aside .nav li {
  margin-bottom: 20px;
  display: block;
}

.aside .nav li a {
  font-size: 16px;
  font-weight: 600;
  display: block;
  border-bottom: 1px solid var(--bg-black-50);
  color: var(--text-black-900);
  padding: 5px 15px;
  opacity: 0;
  animation: slideRight 0.5s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}
.aside .nav li a::after {
  content: "";
  width: 0;
  height: 2px;
  background: rgb(255, 0, 0);
  border-radius: 50%;
  position: absolute;
  left: 0;
  bottom: -3px;
  transition: 0.6s;
}

.aside .nav li a:hover::after {
  width: 100%;
}

.aside .nav li a:hover {
  background: linear-gradient(45deg, rgb(255, 0, 0), rgb(255, 0, 0));
  -webkit-text-fill-color: transparent;
  background-clip: border-box;
  -webkit-background-clip: text;
}

.aside .nav li a.active {
  color: var(--skin-color);
}

.aside .nav li a i {
  margin-right: 15px;
}

/* Aside End */

/* Home Start */
.home {
  min-height: 100vh;
  display: flex;
  color: var(--text-black-900);
}

.home .home-info {
  flex: 0 0 60%;
  max-width: 60%;
}

h3.hello {
  font-size: 28px;
  margin: 15px 0;
}

h3.hello span {
  font-family: "Clicker Script", cursive;
  font-size: 30px;
  font-weight: 700;
  color: var(--skin-color);
}

h3.my-profession {
  font-size: 30px;
  margin: 15px 0;
}

.typing {
  color: var(--skin-color);
}

.home-info p {
  font-size: 20px;
  margin-bottom: 70px;
  color: var(--text-black-700);
}

.home .home-img {
  flex: 0 0 40%;
  max-width: 40%;
  text-align: center;
  position: relative;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 10px red, 0 0 25px red, 0 0 50px red, 0 0 100px red,
    0 0 200px red;
  animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
  animation-delay: 1.1s, 2.1s;
}

.home .home-img img {
  width: 410px;
  height: 410px;
  opacity: 0;
  animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
  animation-delay: 1.1s, 2.1s;
}

/* Home End */

/* About Start */
.about .about-content {
  flex: 0 0 100%;
  max-width: 100%;
}

.about .about-content .about-text {
  flex: 0 0 100%;
  max-width: 100%;
}

.about .about-content .about-text h3 {
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: 700;
  color: var(--text-black-900);
}

.about .about-content .about-text h3 span {
  color: var(--skin-color);
}

.about .about-content .about-text p {
  font-size: 16px;
  line-height: 25px;
  color: var(--text-black-700);
}

.about .about-content .personal-info {
  flex: 0 0 60%;
  max-width: 60%;
  margin-top: 40px;
}

.about .about-content .personal-info .info-item {
  flex: 0 0 50%;
  max-width: 50%;
}

.about .about-content .personal-info .info-item p {
  font-weight: 600;
  padding: 10px 0;
  font-size: 16px;
  color: var(--text-black-900);
  border-bottom: 1px solid var(--bg-black-50);
}

.about .about-content .personal-info .info-item p span {
  font-weight: 400;
  color: var(--text-black-700);
  margin-left: 4px;
  display: inline-block;
}

.about .about-content .personal-info .buttons {
  margin-top: 30px;
}

.about .about-content .personal-info .buttons .btn {
  margin-right: 15px;
  margin-top: 10px;
}

.about .about-content .skills {
  flex: 0 0 40%;
  max-width: 40%;
  margin-top: 40px;
}

.about .about-content .skills .skills-item {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 25px;
}

.about .about-content .skills .skills-item h5 {
  line-height: 40px;
  font-weight: 600;
  font-size: 16px;
  text-transform: capitalize;
  color: var(--text-black-900);
}

.about .about-content .skills .skills-item .progress {
  background: var(--bg-black-50);
  height: 7px;
  border-radius: 4px;
  width: 100%;
  position: relative;
}

.about .about-content .skills .skills-item .progress .progress-in {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 4px;
  background: var(--skin-color);
}

.about .about-content .skills .skills-item .skill-percent {
  position: absolute;
  right: 0;
  color: var(--text-black-900);
  top: -40px;
  font-weight: 400;
  line-height: 40px;
}

.about .about-content .education,
.about .about-content .experience {
  flex: 0 0 50%;
  max-width: 50%;
  margin-top: 30px;
}

.about .about-content h3.title {
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: 700;
  color: var(--text-black-900);
}

.about .about-content .timeline-box {
  flex: 0 0 100%;
  max-width: 100%;
}

.about .about-content .timeline {
  background: var(--bg-black-100);
  padding: 30px 15px;
  border: 1px solid var(--bg-black-50);
  border-radius: 10px;
  width: 100%;
  position: relative;
}

.about .about-content .timeline .timeline-item {
  position: relative;
  padding-left: 37px;
  padding-bottom: 50px;
}

.about .about-content .timeline .timeline-item:last-child {
  padding-bottom: 0;
}

.about .about-content .timeline .timeline-item::before {
  content: "";
  width: 1px;
  position: absolute;
  height: 100%;
  left: 7px;
  top: 0;
  background-color: var(--skin-color);
}

.about .about-content .timeline .circle-dot {
  position: absolute;
  left: 0;
  top: 0;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: var(--skin-color);
}

.about .about-content .timeline .timeline-date {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 12px;
  color: var(--text-black-700);
}

.about .about-content .timeline .timeline-date fa {
  margin-right: 5px;
}

.about .about-content .timeline .timeline-title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 15px;
  text-transform: capitalize;
  color: var(--text-black-900);
}

.about .about-content .timeline .timeline-text {
  line-height: 25px;
  font-size: 16px;
  text-align: justify;
  color: var(--text-black-700);
}

/* About End */

/* Education Start */
.education .container {
  padding-bottom: 40px;
}

.education .education-item {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  margin-bottom: 30px;
}

.education .education-item .education-item-inner {
  background-color: var(--bg-black-100);
  border: 1px solid var(--bg-black-50);
  border-radius: 10px;
  padding: 30px 15px;
  text-align: center;
  transition: all 0.3s ease;
}

.education .education-item .education-item-inner:hover {
  box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.education .education-item .education-item-inner .icon {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: block;
  margin: 0 auto 30px;
  text-align: center;
  transition: all 0.3s ease;
}

.education .education-item .education-item-inner .icon .fa {
  font-size: 40px;
  line-height: 60px;
  color: var(--skin-color);
}

.education .education-item .education-item-inner:hover .icon {
  background: var(--skin-color);
}

.education .education-item .education-item-inner:hover .icon .fa {
  font-size: 25px;
  color: white;
}

.education .education-item .education-item-inner h4 {
  font-size: 18px;
  margin-bottom: 15px;
  color: var(--text-black-900);
  font-weight: 700;
  text-transform: capitalize;
}

.education .education-item .education-item-inner p {
  font-size: 16px;
  color: var(--text-black-700);
  line-height: 25px;
}

.education .container .education,
.education .container .experience {
  flex: 0 0 50%;
  max-width: 50%;
  margin-top: 30px;
}

.education .container h3.title {
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: 700;
  color: var(--text-black-900);
}

.education .container .timeline-box {
  flex: 0 0 100%;
  max-width: 100%;
}

.education .container .timeline {
  background: rgba(0, 0, 0, 0.795);
  padding: 30px 15px;
  border: 1px solid var(--bg-black-50);
  border-radius: 10px;
  width: 100%;
  position: relative;
}

.education .container .timeline .timeline-item {
  position: relative;
  padding-left: 37px;
  padding-bottom: 50px;
}

.education .container .timeline .timeline-item:last-child {
  padding-bottom: 0;
}

.education .container .timeline .timeline-item::before {
  content: "";
  width: 1px;
  position: absolute;
  height: 100%;
  left: 7px;
  top: 0;
  background-color: var(--skin-color);
}

.education .container .timeline .circle-dot {
  position: absolute;
  left: 0;
  top: 0;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: var(--skin-color);
}

.education .container .timeline .timeline-date {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 12px;
  color: var(--text-black-700);
}

.education .container .timeline .timeline-date fa {
  margin-right: 5px;
}

.education .container .timeline .timeline-title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 15px;
  text-transform: capitalize;
  color: var(--text-black-900);
}

.education .container .timeline .timeline-text {
  line-height: 25px;
  font-size: 16px;
  text-align: justify;
  color: var(--text-black-700);
}

/* Education End */

/* Contact Start */
.contact-title {
  color: var(--skin-color);
  text-align: center;
  font-size: 25px;
  margin-bottom: 20px;
}

.contact-sub-title {
  color: var(--text-black-900);
  text-align: center;
  font-size: 15px;
  margin-bottom: 60px;
}

.contact .contact-info-item {
  flex: 0 0 25%;
  max-width: 25%;
  text-align: center;
  margin-bottom: 60px;
}

.contact .contact-info-item .icon {
  display: inline-block;
}

.contact .contact-info-item .icon .fa {
  font-size: 25px;
  color: var(--skin-color);
}

.contact .contact-info-item h4 {
  font-size: 18px;
  font-weight: 700;
  color: var(--text-black-900);
  text-transform: capitalize;
  margin: 15px 0 5px;
}

.contact .contact-info-item p {
  font-size: 16px;
  line-height: 25px;
  color: var(--text-black-700);
  font-weight: 400;
}

.contact .contact-form {
  flex: 0 0 100%;
  max-width: 100%;
}

.contact .contact-form .col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.contact .contact-form .col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.contact .contact-form .form-item {
  margin-bottom: 30px;
}

.contact .contact-form .form-item .form-control {
  width: 100%;
  height: 50px;
}

.contact .contact-form .form-item .form-control {
  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: rgba(0, 0, 0, 0.795);
  border: 1px solid var(--bg-black-50);
  padding: 10px 25px;
  font-size: 16px;
  color: var(--text-black-700);
  transition: all 0.3s ease;
}

.contact .contact-form .form-item .form-control:focus {
  box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.contact .contact-form .form-item textarea.form-control {
  height: 140px;
}

.contact .contact-form .btn {
  height: 50px;
  padding: 0 50px;
}

/* Contact End */

/* Device Responsive Start */
@media (max-width: 1190px) {
  .aside {
    left: -270px;
  }

  .aside.open {
    left: 0;
  }

  .aside .nav-toggler {
    display: flex;
    left: 30px;
  }

  .aside .nav-toggler.open {
    left: 300px;
  }

  .section {
    left: 0;
  }

  .about .about-content .personal-info .info-item p span {
    display: block;
    margin-left: 0;
  }
}

@media (max-width: 990px) {
  .contact .contact-info-item,
  .blog .blog-item,
  .experience .experience-item,
  .education .education-item {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .home .home-info {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .home .home-img {
    display: none;
  }
}

@media (max-width: 760px) {
  .contact .contact-form .col-6,
  .contact .contact-info-item,
  .blog .blog-item,
  .experience .experience-item,
  .education .education-item,
  .about .about-content .education,
  .about .about-content .experience,
  .about .about-content .skills,
  .about .about-content .personal-info {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .btn {
    padding: 10px 20px;
  }
}

@media (max-width: 416px) {
  h3.hello {
    font-size: 26px;
  }

  h3.my-profession {
    font-size: 25px;
  }

  .home-info p {
    font-size: 18px;
  }
}

/* Device Responsive End */

/* Animation */
@keyframes slideTop {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes floatImage {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-24px);
  }

  100% {
    transform: translate(0);
  }
}

@keyframes circleRotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
